body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img{
    background: url('https://cdn.pixabay.com/photo/2015/11/26/22/28/girl-1064664_960_720.jpg');
    height: 60vh;
    background-size: cover;
    background-position: center 25%;
}
.cover{
    height: 60vh;
    background: agba(0,0,0,0.4);
}
ul{
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: flex-end;
    margin-right: 80px;
}
ul li{
    padding: 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.box{
   margin-left: 100px;
}
.box h1{
    color : #fff;
    font-family: cursive;
}
.box button{
    padding: 15px;
    width: 200px;
    cursor: pointer;
    border: none;
    background: rgba(0,191,255,1);
    color: #fff;
    border-radius: 40px;
}